{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Calculadora Simples Nacional</h1>
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Faturamento ultimos 12 meses</label>
            <input type="number" step="0.01" mim="0.01" name="revenues-twelve-months" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Folha de Pagamento</label>
            <input name="payroll-twelve-months" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Faturamento</label>
            <input name="revenue-month" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Faturamento c/ Retenção</label>
            <input name="revenue-month-retention" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Selecione o anexo do Simples Nacional</label>
            <select class="form-control" name="attachment">
                <option value="ANEXOIII">ANEXO III</option>
                <option value="ANEXOV">ANEXO V</option>
            </select> 
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Display</button>
        </div>
    </form>
{% endblock %}